.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs
secrets
**/*.secret
saves
.pytest_cache
**/*.json
plots/
c_generated_code/
scripts/visualization.py
scripts/sim.py
/config
/scripts
lsy_drone_racing/reinforcement_learning/ppo*
lsy_drone_racing/reinforcement_learning/log/
lsy_drone_racing/tools/glfw_test.py
lsy_drone_racing/control/test_controller.py
lsy_drone_racing/control/kino_A_star_with_replan_controller_backup.py
lsy_drone_racing/control/mpcc_precripted_trajectory_IPOPT.py
lsy_drone_racing/control/test_controller.py
